/*
Variables and mixins
*/

$site-width: 960px;
$std-spacing: 20px;

$highlight-color: #fed100;

$std-font-size: 16px;
$body-font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@mixin vertical-gradient($top-color, $bottom-color) {
    background-image: -o-linear-gradient(top, $top-color, $bottom-color);
    background-image: -moz-linear-gradient(top, $top-color, $bottom-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color));
    background-image: -webkit-linear-gradient(top, $top-color, $bottom-color);
    background-image: linear-gradient(to bottom, $top-color, $bottom-color);
}

/* 
CSS reset
*/

body, div, dl, dt, dd, ol, nav, article, hgroup, header, h1, h2, h3, h4, h5, h6, pre, footer, form, fieldset, input, textarea, blockquote, p, th, td, ul, li {  
    margin:0;
    padding:0;
}

span, input {
    position: relative;
}
 
img {
    border:0;
}


/*
Actual site styles    
*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    margin: 0 auto;
    font: $std-font-size $body-font-stack;
}

header {
    display: block;
    position: relative;
    height: $std-spacing * 2;
    background: #333131;
    color: #e6e6e6;
    
    h1 {
        $logo-width: 108px;
        position: relative;
        margin-left: $std-spacing * 4;
        padding-left: $logo-width + ($std-spacing * 0.25);
        color: $highlight-color;
     
        img.logo {
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            width: $logo-width;
        }   
        
        div.site-name {
            
            img {
                position: relative;
                top: 3px;
                height: 28px;
            }
        }
    }
    
    a.add-number {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 11px 15px 0;
        color: $highlight-color;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $std-font-size * 0.875;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    div.container {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10;
        
        /* These styles override mobile-specific styles in global.css */
        width: 320px;
        background: rgba(51, 49, 49, 0.925);
        
        form.form-container {
            
            p:first-child {
                margin-bottom: 5px;
            }
        }
        
        .form-field {
            margin-bottom: 15px;
        }
        
        input[type="text"], input[type="email"], input[type="tel"], textarea {
            width: 93.5%;
            padding: 4px 6px;
            border-width: 2px;
            font-size: $std-font-size * 0.875;
        }
        
        textarea {
            height: 80px;
        }
        
        input.submit-button {
            display: block;
            width: 160px;
            margin: 0 auto;
            padding: 9px 0 7px;
            text-align: center;
            font-size: $std-font-size;
        }
    }
}

#map-canvas {
    position: absolute;
    top: $std-spacing * 2;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: $std-font-size * 0.875;
}